[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-redis = "*"
redis = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-compressor = "*"
{%- if cookiecutter.use_wagtail == 'y' %}
wagtail = "*"
{%- endif %}
{%- if cookiecutter.use_sentry == 'y' %}
sentry-sdk = "*"
{%- endif %}

[requires]
python_version = "3.9"
